.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  margin: 5px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  margin-left: 5px;
}

.header__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  flex: 0.7;
  padding: 10px;
  border-radius: 7px;
}

.gray {
  color: gray;
}

.header__middle > input {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  font-size: medium;
  outline: 0;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 2px;
}
